<form #loginForm="ngForm"
  (ngSubmit)="login()"
  >

  <!-- <input [(ngModel)]=""
    both are same  (two way databinding)
  <input [value]="" (change)="" -->

    <!-- Email -->
    <div class="mb-5">
      <label class="inline-block mb-4">Email</label>
      <input
      #email="ngModel" 
      type="email" name="email" [(ngModel)]="credentials.email"
       class="block w-full py-3.5 px-3 text-gray-200 border border-gray-400 transition
        duration-502 focus:outline-none rounded bg-transparent
        focus:border-indigo-402" placeholder="Enter Email" 
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
      <p *ngIf="email.errors && email.touched && email.dirty" class="text-red-400" >
        Email is invalid
      </p>
    
    </div>
    <!-- Password -->
    <div class="mb-5">
      <label 
    
      class="inline-block mb-4">Password</label>
      <input 
      name="password"
      #password="ngModel"  [(ngModel)]="credentials.password"
      type="password" name="password"  
      class="block w-full py-3.5 px-3 text-gray-200 border border-gray-400 transition
      duration-502 focus:outline-none rounded bg-transparent focus:border-indigo-400"
       placeholder="Password" 
      required
      />

      <p *ngIf="password.errors && password.touched && password.dirty" class="text-red-400" >
        Password is invalid
      </p>
    </div>
    <button 
      [disabled]="loginForm.invalid"

      type="submit"
      class="block w-full bg-indigo-402 text-white py-1.5 px-3 rounded transition
      hover:bg-indigo-502 disabled:opacity-50 disabled:bg-indigo-50">
      Submit
    </button>
</form>
